.childGuest {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0 1rem 0;

  .error {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: red;
  }

  &_title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: capitalize;
  }

  &_field {
    width: 100%;
    height: 48px;
    border: 2px solid rgba(39, 39, 39, 0.15);
    background-color: white;
    border-radius: 999px;
    padding: 1rem 1.5rem;
    outline: none;
    &:focus {
      border-color: var(--primary-background);
    }
  }
}
