.page_traveler {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_containerHeader {
    width: 90%;
    margin: 0px auto;

    &_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.25rem;
      margin-bottom: 2.5rem;
      &_image {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 9999px;
        background: white;
        cursor: pointer;
      }
      &_text {
        color: white;
        font-size: 1.25rem /* 20px */;
        line-height: 1.75rem /* 28px */;
        font-weight: 760;
        @media only screen and (min-width: 768px) {
          font-size: 32px;
        }
      }
    }
  }
  &_containerBody {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  @media only screen and (min-width: 768px) {
    width: 80%;
  }
}
