.popover {
  &_button {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  &_menu {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: max-content;
  }
}
